# Python files:

*.ipynb_checkpoints/
*__pycache__/
RS-venv/

# Test files:

data/
!*data/carcassone1.jpg
!*data/carcassone2.jpg
!*data/ramparts1.jpg
!*data/ramparts2.jpg
!*data/ramparts12.jpg
usac_data_fun/
usac_data_hom/
experiments_data/
ipol_experiment/
3dv_experiment/
pnp_experiment/

Scripts/Build_and_usage.md
Writing/3dv-2020authorkit/*pdf
Writing/3dv-2020authorkit/images/
Writing/VISAPP/images/
Writing/extension/*pdf

### C++

# CLion
.idea/
cmake-build-debug/
cmake-build-release/

BUILD/
Build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### C++

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# easy-todo
*.lod

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# Kile
*.backup

# KBibTeX
*~[0-9]*

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# generated if using elsarticle.cls
*.spl


# Writing files:
Writing/3dv-2020authorkit/3DVsubmission_221_ransacbenchmark.pdf
Writing/3dv-2020authorkit/README.txt
Writing/3dv-2020authorkit/egbib.bib
Writing/3dv-2020authorkit/egpaper_final.tex
Writing/3dv-2020authorkit/egpaper_for_review.tex
Writing/3dv-2020authorkit/ieee_fullname.bst
Writing/3dv-2020authorkit/images/F_inliers.svg
Writing/3dv-2020authorkit/images/F_outliers.svg
Writing/3dv-2020authorkit/images/H_inliers.svg
Writing/3dv-2020authorkit/images/H_outliers.svg
Writing/3dv-2020authorkit/images/deprecated/
Writing/3dv-2020authorkit/images/kusvod2_1_runtime_0.8__the.pdf
Writing/3dv-2020authorkit/latex/
Writing/3dv-2020authorkit/ransac_benchmark.pdf
Writing/3dv-2020authorkit/test_gray.pdf
Writing/ICIP format/3dv-2020authorkit.zip
Writing/ICIP format/RANSAC_Benchmark.pdf
